.login div {
  text-align:center;
  display:flex;
  align-items: center;
  color: #144936;
}

.login div form{
  align-items: flex-end;
  display:flex;
  flex-direction: column;
}

.login div form label{
  margin: 10px;
}

div form label input{
  margin: 10px;
}


div form button {
  align-self: center;
  margin:30px;
}

button {
  color: white;
  font-family: 'Rubik';
  font-size: 20px;
}

button[type="submit"] {
  background-color: #699A78;
  padding: 10px 20px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.secondary {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid white;
}

h1 {
  font-weight: 500;
}

.container {
  color: #144936;
  display: flex;
}

.logo-container {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

.logo-container label {
  font-size: 2em;
}

.logo-title {
  font-size: 40px;
  padding: 20px;
}

#logo {
  width: 80px;
}

