.login div {
  text-align:center;
  flex-flow: column nowrap;
  display:flex;
  align-items: center;
}

.login div form{
  align-items: flex-end;
  display:flex;
  flex-direction: column;
}

.login div form label{
  margin: 10px;
}

.login div form label input{
  margin: 10px;
}


.login div form button {
  align-self: center;
  margin:30px;
}
