.suggestions{
    width: 200px;
    height: auto;
    position: relative;
    background-color: lightgray;
    opacity: 70%;
    padding: 20px;
    border-radius: 25px;
}

:before {
    content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.search{
    text-align: center;
    padding: 3px;
}

input{
    padding: 0.7rem 1.2rem;
    font-size: 0.8rem;
    border-radius: 15px;
    border: 1px solid black;
    background: rgba(255,255,255,0.1);
    color: black;
    opacity: 100%;
}

::placeholder {
    color: black;
}

.container{
    max-width: 150px;
    height: 150px;
    margin: auto;
    padding: 0 1rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#temp-icon{
    display:flex;
    flex: row-reverse;
    justify-content: space-between;
}

img{
    width: 85%;
    height: 80%;
}


