.suggestions{
    width: 200px;
    height: auto;
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

:before {
    content: ''; 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.search{
    text-align: center;
    /* padding: 3px; */
}

input{
    padding: 0.7rem 1.2rem;
    font-size: 0.8rem;
    border-radius: 8px;
    border: none;
    background: #EDEDED;
    color: black;
    opacity: 100%;
}

::placeholder {
    color: black;
}

.container{
    max-width: 150px;
    /* height: 150px; */
    margin: auto;
    padding: 1em 0.4rem;
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#temp-icon{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

img{
    /* width: 85%;
    height: 80%; */
}

/* .recommendation{
    font-size: 0.8rem;
} */

.location p {
    font-weight: 500;
    font-size: 24px;
    margin: 0;
}

.temp {
    text-align: center;
}

.temp h2 {
    font-weight: 300;
    margin: 0;
    font-size: 2em;
}

.rec-chat {
    display: flex;
    padding: 20px 30px;
    width: 200px;
    background-color: white;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 30px;
    transform: translate(-100px);
}