.settings{
    width: 300px;
    height: 100vh;
    background-color: #A3BFAC;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

.settings:active{
    right: 10;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 400;
    color: white;
    width: 60%;
}

li{
    margin-bottom: 25px;
}

a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}

<<<<<<< HEAD:my-app/src/components/menu/settings.css
.settings:hover {
=======
menu:hover {
>>>>>>> cfb32313aad261da091759b6ab1e125beb01883d:my-app/src/components/menu.css
    font-weight: 500;
}
