:root {
  --width: 650px;
}

.wrapper {
  position: relative;
}

.menu {
  position: fixed;
  width: var(--width);
  height: 100vh;
  left: 0;
  top: 0;
  transition: 0.4s;
  background: #87a390;
  z-index: 9999;
  transform: translateX(-100%);
}

.menu.active {
  transform: translateX(0);
}

input[type="radio"] {
  display: none;
}

.animal-head {
  margin: 10px;
}

.animal-head:img {
  height: 40px;
}

.animal-button {
  display: flex;
  flex-direction: column;
}

.animal-wrapper {
  display: flex;
  width: 300px;
  text-align: center;
}

.animal-name {
  display: flex;
  color: white;
  font-size: 2em;
  text-align: center;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.animal-image-wrapper {
  display: flex;
}

#animal-image {
  transform: translate(15px);

}

.hamburger {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
  margin: 10px;
}

.hamburger > span {
  position: absolute;
  width: 80%;
  height: 2px;
  left: 10%;
  top: 48%;
  background: whitesmoke;
  border-color: whitesmoke;
  transition: 0.4s;
}

.hamburger > span:first-child {
  top: 18%;
}

.hamburger > span:last-child {
  top: 78%;
}

.hamburger.active {
  left: calc(var(--width) + 3px);
}

.hamburger.active > span {
  transform: translateX(120%);
}

.hamburger.active > span:first-child {
  top: 48%;
  transform: rotateZ(-45deg);
}

.hamburger.active > span:last-child {
  top: 48%;
  transform: rotateZ(45deg);
}